<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>
</head>
<body>
    <div class="num">
        <div class="row">
            <button id="num-7">7</button>
            <button id="num-8">8</button>
            <button id="num-9">9</button>
            <button id="num-*">*</button>
        </div>
        <div class="row">
            <button id="num-4">4</button>
            <button id="num-5">5</button>
            <button id="num-6">6</button>
            <button id="num--">-</button>
        </div>
        <div class="row">
            <button id="num-1">1</button>
            <button id="num-2">2</button>
            <button id="num-3">3</button>
            <button id="num-+">+</button>
        </div>
        <div class="row">
            <button id="num-0">0</button>
            <button id="num-dot">.</button>
            <button id="nmlk">nmlk</button>
        </div>
    </div>

    <div class="keyboard active">
        <div class="rowkey">
            <button id="~">~</button>
            <button id="1">1</button>
            <button id="2">2</button>
            <button id="3">3</button>
            <button id="4">4</button>
            <button id="5">5</button>
            <button id="6">6</button>
            <button id="7">7</button>
            <button id="8">8</button>
            <button id="9">9</button>
            <button id="0">0</button>
            <button id="-">-</button>
            <button id="=">=</button>
            <button id="Backspace">Back</button>
        </div>
        <div class="rowkey">
            <button id="Tab">Tab</button>
            <button id="Q">Q</button>
            <button id="W">W</button>
            <button id="E">E</button>
            <button id="R">R</button>
            <button id="T">T</button>
            <button id="Y">Y</button>
            <button id="U">U</button>
            <button id="I">I</button>
            <button id="O">O</button>
            <button id="P">P</button>
            <button id="[">[</button>
            <button id="]">]</button>
            <button id="\">\</button>
        </div>
        <div class="rowkey">
            <button id="CapsLock">Caps Lock</button>
            <button id="A">A</button>
            <button id="S">S</button>
            <button id="D">D</button>
            <button id="F">F</button>
            <button id="G">G</button>
            <button id="H">H</button>
            <button id="J">J</button>
            <button id="K">K</button>
            <button id="L">L</button>
            <button id=";">;</button>
            <button id="'">'</button>
            <button class="Enter">Enter</button>
            <button id="nmlk">nmlk</button>
        </div>
        <div class="rowkey">
            <button id="Shift">Shift</button>
            <button id="Z">Z</button>
            <button id="X">X</button>
            <button id="C">C</button>
            <button id="V">V</button>
            <button id="B">B</button>
            <button id="N">N</button>
            <button id="M">M</button>
            <button id=",">,</button>
            <button id=".">.</button>
            <button id="/">/</button>
            <button id="Shift">Shift</button>
        </div>
        <div class="rowkey">
            <button id="Ctrl" style="width: 7%;">Ctrl</button>
            <button id="Win" style="width: 7%;">Win</button>
            <button id="Alt" style="width: 7%;">Alt</button>
            <button id="Space">Space</button>
            <button id="Alt" style="width: 7%;">Alt</button>
            <button id="Win" style="width: 7%;">Win</button>
            <button id="Ctrl" style="width: 7%;">Ctrl</button>
        </div>
    </div>
    <div class="cont active">
        <div class="touchpad">
            <div class="touchpad-cursor"></div>
        </div> 
        <button id="left">L</button>
        <button id="right">R</button>
    </div>
    <div class="touchpad-info">
        <p>Touchpad X: <span id="touchpad-x">0</span></p>
        <p>Touchpad Y: <span id="touchpad-y">0</span></p>
        <p>Touchpad Click: <span id="touchpad-click">false</span></p>
    </div>
<script src="../static/scripts.js"></script>
</body>
</html>
